# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10.2
language: objective-c
# cache: cocoapods
# podfile: Example/Podfile

before_install:
  - gem install cocoapods
  - pod repo update
  - pod install --project-directory=Example

before_script:
  - set -o pipefail
  - pod repo update

script:
  - set -o pipefail && xcodebuild test -enableCodeCoverage YES -workspace Example/VoiceActivityDetector.xcworkspace -scheme VoiceActivityDetector-Example -sdk iphonesimulator12.2 -destination 'platform=iOS Simulator,name=iPhone 8,OS=12.2' ONLY_ACTIVE_ARCH=NO | xcpretty
  - pod lib lint
